*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

html {
    font-size: 62.5%;
}

.underline {
    height: 0.5rem;
    width: 30%;
    background-color: var(--primary-color);
    margin: auto;
}

/* grid */
.landing-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "nav nav nav nav nav nav"
        "contentarea contentarea contentarea contentarea contentarea contentarea"
        "contentarea contentarea contentarea contentarea contentarea contentarea"
        "contentarea contentarea contentarea contentarea contentarea contentarea"
        "footerarea footerarea footerarea footerarea footerarea footerarea";
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footerarea;
    margin-top: auto;
}

/* title section */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 5rem;
    line-height: 5rem;
}

.title-container .name {
    margin-left: 0;
    font-size: 5rem;
}

.title-container .btn {
    margin: 1rem 0;
    font-weight: 500;
    border: none;
}

.title-container .btn:hover {
    background-color: var(--primary-color-dark);
    transition: 0.2s ease-in-out;
}

.title-container p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--content-color);
    text-align: center;
}

/* brand and products section */

.section-title {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
    color: var(--content-color);
}

.showcase-container {
    grid-area: contentarea;
}

.categories-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
}

.category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.category img {
    height: 18rem;
    width: 18rem;
}

.category-background {
    position: absolute;
    background-color: var(--icon-color);
    width: 100%;
    height: 100%;
    opacity: 0.4;
    border-radius: 0.5rem;
}

.rsp-img {
    border-radius: 0.5rem;
}

.category h2 {
    position: absolute;
    padding: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: var(--text-color);
}

.mobile-input {
    display: none;
}

.margin-left-auto {
    display: flex;
}

@media screen and (max-width: 850px) {
    html {
        font-size: 50%;
    }

    .landing-container {
        grid-template-columns: repeat(1, 25rem) repeat(2, 1fr);
        grid-template-areas:
            "nav nav nav"
            "contentarea contentarea contentarea"
            "contentarea contentarea contentarea"
            "contentarea contentarea contentarea"
            "footerarea footerarea footerarea";
    }

    .section-container {
        width: 100%;
    }

    .mobile-input {
        display: block;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    .input-w {
        display: none;
    }

    .margin-left-auto {
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 1rem 0;
    }

    .navbar .btn {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
    }

    .name {
        margin: 0;
    }

    .margin-left-auto {
        margin-right: auto;
        margin-top: 2rem;
    }
}