:root {
  --heart-hover: #b6bab3;
}

.card-container.product-card {
  width: 30rem;
  justify-content: space-between;
}

.product-card .card-badge {
  font-size: 2rem;
}

.disable {
  pointer-events: none;
  text-decoration: line-through;
}

.card-container .fas {
  color: var(--heart-hover);
  cursor: pointer;
  border-radius: 50%;
}

.card-container .card-img {
  object-fit: contain;
}

.product-img {
  width: 30rem;
  height: 30rem;
}

.card-container .card-title {
  font-size: 2rem;
}

.product-card .card-subtitle {
  pointer-events: all;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 50%;
  }

  .section-container {
    justify-content: space-around;
  }

  .card-container.product-card {
    width: 23rem;
    margin: 5px;
    min-height: 60rem;
  }

  .product-img {
    width: 23rem;
    height: 23rem;
  }
}