.title {
    text-align: center;
    font-size: 3rem;
    color: var(--content-color);
    margin: 2rem 0;
}

.item-showcase-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-showcase-container .section-container {
    margin: 0;
    width: 80%;
    justify-content: center;
    padding-right: 2rem;
    border-right: 1px solid var(--content-color);
}

.product-card {
    padding: 0rem;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: var(--card-container-bg);
    width: 30rem;
}

.product-card .card-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.product-card .card-btn {
    display: flex;
    flex-direction: column;
}

.product-card .card-btn .btn {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: #b6bab3;
    border: none;
    height: 5.5rem;
    margin: 0;
    padding: 0 2rem;
    width: auto;
    border-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.product-card .card-btn .btn:hover {
    background-color: #D0D4CD;
    transition: 0.2s ease-in-out;
}

.product-card .card-title,
.product-card .card-subtitle,
.product-card .card-description {
    margin-left: 0.5rem;
}

.product-card h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card h1 i {
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
}

.product-card h1 i:hover {
    color: var(--alert-color);
    transition: 0.2s ease-in-out;
}

.ammount-container {
    align-self: flex-start;
    margin: 0 2rem;
}

.ammount-container .card-container {
    width: 50rem;
    margin-top: 2rem;
}

.ammount-container .card-container .btn {
    width: auto;
    background-color: var(--success-color);
    border: none;
    height: 5rem;
}

.ammount-container .card-container .btn:hover {
    background-color: #339637;
    transition: 0.2s ease-in-out;
}

.ammount-container h2 {
    display: flex;
    justify-content: space-between;
}

.search-categories {
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 1rem 0.8rem 1rem 1.4rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-categories .select {
    width: 80%;
    background: url('arrow.png') no-repeat;
}

.search-categories .select select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    font-size: 1.5rem;
}

.search-categories .select select:focus {
    outline: none;
}