:root {
    --secondary-btn-color: #B7BBB4;
    --secondary-btn-color-hover: #D0D4CD;
    --order-btn: #339637;
    --heart-hover: #b6bab3;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: var(--content-color);
    margin: 2rem 0;
}

.item-showcase-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-showcase-container .section-container {
    margin: 0;
    width: 80%;
    justify-content: center;
    padding-right: 2rem;
    border-right: 1px solid var(--content-color);
}

.card-container.product-card {
    justify-content: space-between;
    width: 30rem;
}

.product-card .card-btn .btn {
    background-color: var(--secondary-btn-color);
}

.product-card .card-btn .btn:hover {
    background-color: var(--secondary-btn-color-hover);
    transition: 0.2s ease-in-out;
}

.amount-container {
    align-self: flex-start;
    margin: 0 2rem;
}

.amount-container .card-container {
    width: 50rem;
    margin-top: 2rem;
}

.amount-container .card-container .btn {
    width: auto;
    background-color: var(--success-color);
    border: none;
    height: 5rem;
}

.amount-container .card-container .btn:hover {
    background-color: var(--order-btn);
    transition: 0.2s ease-in-out;
}

.amount-container h2 {
    display: flex;
    justify-content: space-between;
}

.search-categories {
    font-size: 1.3rem;
    margin: 0 10px;
    padding: 10px 8px 10px 1.4rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-categories .select {
    width: 80%;
    background: url('arrow.png') no-repeat;
}

.search-categories .select select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    font-size: 1.5rem;
}

.search-categories .select select:focus {
    outline: none;
}

.card-container .card-img {
    object-fit: contain;
}

.product-img {
    width: 30rem;
    height: 30rem;
}

.card-container .card-title {
    font-size: 2rem;
}

.product-card .card-subtitle {
    pointer-events: all;
}

.product-card .fas {
    color: var(--heart-hover);
}

@media screen and (max-width: 1300px) {
    .product-img {
        width: 23rem;
        height: 23rem;
    }

    .card-container.product-card {
        width: 23rem;
        margin: 5px;
        min-height: 60rem;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    .item-showcase-container .section-container {
        justify-content: center;
        width: 100%;
    }

    .card-container.product-card {
        width: 23rem;
        margin: 5px;
    }
}

@media screen and (max-width: 900px) {
    .sidebar {
        margin-left: 0;
    }

    .mobile-input {
        display: block;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }

    .amount-container {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--content-color);
    }

    .header-input {
        display: none;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .item-showcase-container {
        flex-direction: column-reverse;
    }

    .amount-container {
        align-self: center;
    }

    .item-showcase-container .section-container {
        border-right: 0px;
        padding-right: 0;
    }

    .stick {
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 1rem 0;
        flex-direction: column;
    }

    .navbar .btn {
        margin-right: 1rem;
    }

    .name {
        margin: 0;
    }

    .margin-left-auto {
        margin-right: auto;
        margin-top: 2rem;
    }

    .ammount-container .card-container {
        width: 42rem;
    }
}