.landing-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(3, 1fr) auto;
    grid-template-areas:
        "nav nav nav nav nav nav"
        "contentarea contentarea contentarea contentarea contentarea contentarea"
        "contentarea contentarea contentarea contentarea contentarea contentarea"
        "contentarea contentarea contentarea contentarea contentarea contentarea"
        "footerarea footerarea footerarea footerarea footerarea footerarea";
}

section {
    grid-area: contentarea;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footerarea;
    margin-top: auto;
}