@media screen and (max-width: 850px) {
  html {
    font-size: 50%;
  }

  .landing-container {
    grid-template-columns: repeat(1, 25rem) repeat(2, 1fr);
    grid-template-areas:
      "nav nav nav"
      "sidebar contentarea contentarea"
      "sidebar contentarea contentarea"
      "sidebar contentarea contentarea"
      "footerarea footerarea footerarea";
  }

  .section-container {
    width: 100%;
  }

  .sidebar {
    margin-left: 0;
  }

  .mobile-input {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  .input-w {
    display: none;
  }

  .margin-left-auto {
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 1rem 0;
    flex-direction: column;
  }

  .navbar .btn {
    margin-right: 1rem;
  }

  .name {
    margin: 0;
  }

  .margin-left-auto {
    margin-right: auto;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .landing-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "nav nav nav"
      "contentarea contentarea contentarea"
      "contentarea contentarea contentarea"
      "contentarea contentarea contentarea"
      "footerarea footerarea footerarea";
  }

  .section-container {
    align-items: center;
    justify-content: center;
  }

  .stick {
    position: sticky;
    top: 1rem;
  }

  .position-hidden {
    position: fixed;
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transform: translateX(-100%);
    transition: 0.2s ease-in-out;
    overflow-y: auto;
  }

  .position-open {
    position: fixed;
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transform: translateX(0);
    transition: 0.2s ease-in-out;
    overflow-y: auto;
  }

  .link-no-style {
    font-size: 2rem;
  }

  .filter-section-title {
    font-size: 2.5rem;
  }

  .form-label{
    font-size: 2rem;
  }

  .sidebar {
    margin-top: 0;
    background-color: var(--default-color);
    padding-top: 2rem;
  }

  .icon-container {
    margin-left: 2rem;
  }

  section .hamburger {
    display: block;
    background-color: var(--default-color);
    padding: 1rem;
    z-index: 1;
    border-radius: 1rem;
  }

  .filter-hover {
    color: var(--for-theme);
  }

  .filter-section {
    color: var(--for-theme);
  }

  .card-container {
    width: 20rem;
  }
}